/* =============
    Section 1
============= */
#section-1 {

    background-image: url('../img/main_slide_21.jpg');
    background-position: center;
    background-size: cover;
    height: 360px;





    h1 {
        font-family: 'Comfortaa', 'cursive';
        grid-area: section-1-header;
        grid-template-columns: 10px auto 10px;
        text-align: center;
        color: #00008b;
    }

    h3 {
        font-family: 'Comfortaa', 'cursive';
        text-align: center;
        color: #00FFFF;
    }

    h2 {
        font-family: 'Comfortaa', 'cursive';
        text-align: center;
        color: white;
    }

}
